@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/roboto/roboto-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/roboto/roboto-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/roboto/roboto-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/roboto/roboto-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/roboto/roboto-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/roboto/roboto-black.woff2') format('woff2');
}