@import mixin

#footer
	position: relative
	//position: fixed
	top: 0
	bottom: auto
	left: 0
	right: 0
	margin: 0  
	z-index: 1 
	height: auto
	width: 100%
	background-color: #ccc
	//background: #a21e1e
	//transition: .1s
	margin: 0
	//position: relative
	z-index: 20
	//top: 0!important
	//height: 991px	
	&.nfx
		position: relative
		top: 0
		margin: 0
		transition: .1s