@import mixin

#header
	position: relative
	z-index: 200

.header 
	display: flex
	align-items: center
	justify-content: space-between
	position: relative 
	padding: 80px 0 0
	.rows
		display: flex 
		justify-content: space-between
		.cols01
			width: 230px
		.cols02
			width: calc(100% - 256px - 340px)
		.cols03
			width: 340px	
			display: flex 	
			justify-content: space-between	
			align-items: center			
	.logo
		.logo_l
			display: flex
			width: 230px
			height: 34px
			justify-content: space-between
			align-items: center	
			.a 
				display: flex
				width: 256px
				justify-content: flex-start
				height: 34px
				align-items: center	
				.mlogo
					color: #000b2d
					font: 300 35px/35px Roboto
					text-transform: uppercase
					letter-spacing: 6.3px
					margin: 0 12px 0 0	
			.lt
				display: flex
				justify-content: space-between
				flex-direction: column
				height: 26px
				position: relative
				top: -1px		
				.t 
					display: block
					color: $d
					font: normal 7px/7px Roboto
					text-transform: uppercase
					margin: 0
					letter-spacing: 0.525px																		
	.main_menu 
		height: 100% 

		@media(max-width: 991px) 
			display: none
		.mm_list
			text-align: center
			margin: 0
			display: flex	
			align-items: center
			height: 100%
			li			
				margin: 0		
				a
					font: 300 12px/12px Roboto
					color: $d
					text-transform: uppercase
					padding: 2px 23px 0px
					letter-spacing: 0.84px
					&:hover,	
					&:focus
						color: $d			
				&.active
					a
						color:  $d		
						&:hover,
						&:focus
							color:  $d				
	.h_language
		width: 50px
		text-align: center
		cursor: pointer
		position: relative	
		top: 9px
		&.active
			opacity: 1
			pointer-events: auto
			transition: .5s	
			.l
				&:after		 	
					width: 0%
					transition: .5s	
		.l 
			display: inline-block
			font: normal 10px/10px Roboto
			text-transform: uppercase
			color: #000a2b
			margin: 0
			position: relative
			padding: 0 0 9px
			text-align: left	
			&:after 
				content: ""
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 1px
				width: 100%
				margin: auto
				background: #000a2b
				transition: .5s												
		.h_language_in
			opacity: 0
			pointer-events: none
			transition: .5s
			&.active
				opacity: 1
				pointer-events: auto
				transition: .5s				
												
		a 
			font: normal 10px/10px Roboto
			text-transform: uppercase
			color: #000a2b
			margin: 0
			position: relative
			padding: 0 0 2px
			text-align: left 
			&:hover 
				&:after	
					width: 0%
					transition: .5s											
			&:after 
				content: ""
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 1px
				width: 100%
				margin: auto
				background: #000a2b
				transition: .5s	
	.ri
		display: flex
		align-items: center
		justify-content: space-between
		width: 256px
		height: 15px														
		.n_burger
			&.nb_phone
				margin: 0
				position: relative
				width: 41px
				height: 13px
				cursor: pointer
				a 
					color: #000a2b
					font: normal 10px/10px Roboto
					position: relative
					display: inline-block
					text-transform: uppercase
					top: -4px
					left: -30px
					padding: 0px 0 9px
					letter-spacing: 1.1px	
					&:after 
						content: ""
						position: absolute
						bottom: 0
						left: 0
						right: 0
						height: 1px
						width: 100%
						margin: auto
						background: $d
						transition: .5s		
			&.m_burger
				display: none
				position: relative
				width: 41px
				height: 13px
				cursor: pointer
				margin: 0 0 0 29px
				.lb 
					background: #fff 
					height: 1px
					position: absolute
					display: block
					//background: #000b2d
					transition: .5s					
					&.lb01
						width: 41px
						top: 0
						left: 0px
					&.lb02
						width: 41px
						top: 6px
						left: 0px
					&.lb03
						width: 32px
						bottom: 0
		.ya-phone
			font: 900 14px/14px Roboto
			color: #000b2d
			text-transform: uppercase
			margin: 0		
			a 
				color: #000b2d
				font: 900 14px/14px Roboto	
				span 
					display: inline-block
					margin: 0 13px					



















