@mixin abs 
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0   
	margin: auto


$d: #000b2d

$main_color: #008eb3 
$color_main_menu: #999
$color_placeholder: #666   
$yellow: #ffba00 
$dblue: #0b1b49
$gray: #f6f7f9
