html,
body 
	//height: 100%      
	font-size: 100%	    
	line-height: 1                                                   
	font-family: Roboto	 

.scroller
	height: 100vh

.container
	max-width: 1500px
	width: 100%
	margin-left: auto
	margin-right: auto
	padding-left: 5px
	padding-right: 5px

#q 
	position: absolute
	top: 0	

#wrap 
	//margin-bottom: 991px  
	margin-bottom: 0
	background: #fff    
	position: relative
	z-index: 200
	&.nfx
		margin-bottom: 0            

#ff
	position: absolute 
	bottom: 0 

#wrapper
	min-height: 100%
	height: auto !important
	//height: 100% 
	// margin: 0 auto -991px
	// padding: 0 0 991px	     
	margin: 0
	padding: 0        
 
.hides
	display: none

.selectize-input
	.item
		color: $color_placeholder

.selectize-control.single 
	height: 54px
	.selectize-input
		border: 1px solid #e8e8e8
		border-radius: 45px
		background: #fff
		text-align: center
		padding: 15px 10px
		&.not-full
			padding-top: 0px	
			padding-bottom: 0px			
		&.dropdown-active 
			border-radius: 25px 25px 0 0
			&:after
				transform: rotate(180deg)
				margin: 0
		&:after
			content: ""
			//background: url(../img/i5.png) no-repeat 0 0
			width: 13px
			height: 8px
			border: 0
			top: 22px
			right: 17px		
			margin: 0	
			border-width: 0	 
			@media(max-width: 550px)
				width: 19px
				height: 10px
				background-size: cover				
		.item
			font: normal 17px/17px Roboto
			color: #545454	
			@media(max-width: 650px)
				font: normal 16px/17px Roboto
			@media(max-width: 650px)
				font: normal 13px/17px Roboto				
			+
				input
					display: none !important
	.selectize-dropdown
		border-color: #e8e8e8
		border-radius: 0 0 0 0
		text-align: center
		.selectize-dropdown-content
			max-height: 230px
			.option
				font: normal 17px/22px Roboto	
				color: #545454
				@media(max-width: 650px)
					font: normal 16px/21px Roboto
				@media(max-width: 650px)
					font: normal 13px/17px Roboto					
				&.active
					background: $main_color		
					color: #fff	
		.nicescroll-rails
			width: 1px !important
			background: #e8e8e8
			.nicescroll-cursors 
				left: 12px	


.fancybox-overlay
	background-image: none
	background: rgba(9, 25, 47, .56) repeat 

.fancybox-close
	top: 18px
	right: 18px
	width: 18px
	height: 18px
	background-image: none
	&:after
		content: ""
		@include abs 
		width: 18px 
		height: 2px 
		background: #fff 
		transform: rotate(45deg)
	&:before
		content: ""
		@include abs 
		width: 18px 
		height: 2px 
		background: #fff 
		transform: rotate(-45deg)		

.win_popup
	width: 910px
	min-height: 580px
	padding: 0
	background: #fff
	@media(max-width: 980px)
		width: 750px
	@media(max-width: 800px)
		width: 600px
	@media(max-width: 650px)
		width: 500px
	@media(max-width: 550px)
		width: 400px
	@media(max-width: 450px)
		width: 300px
	@media(max-width: 350px)
		width: 275px
	.fancybox-button 
		opacity: 1
		svg	
			color: #fff
	.line_pp
		height: auto
		text-align: center
		background: $main_color
		padding: 51px 15px 53px
		h3
			font: normal 27px/27px Roboto
			color: #fff
			margin: 0 0 12px 
			text-transform: uppercase
			@media(max-width: 450px)
				font: normal 26px/26px Roboto
		p 	
			font: normal 17px/21px Roboto
			color: #fff
			max-width: 720px
			margin: auto	
	.blc_pp_wt
		padding: 41px 0 65px
		width: 770px
		margin: auto
		text-align: left
		@media(max-width: 980px)
			width: 670px
		@media(max-width: 800px)
			width: 530px
		@media(max-width: 650px)
			width: 90%						
		.rows
			position: relative
			display: flex
			justify-content: space-between
			margin: 0 0 20px
			&.rows100 
				.cols	
					width: 100%
			.cols 
				width: calc(50% - 10px)
				position: relative
			input			
				border: 1px solid #b8b8b8
				width: 100%
				//height: 46px
				color: #2d2d2d
				font: normal 18px/18px Roboto
				position: relative	
				padding: 10px 30px
				-webkit-appearance: none
				-moz-appearance: none				
				@media(max-width: 450px)
					padding: 0 15px
					font: normal 13px/18px Roboto
				&::-webkit-input-placeholder
					color:#2d2d2d
				&::-moz-placeholder
					color:#2d2d2d
				&:-moz-placeholder
					color:#2d2d2d
				&:-ms-input-placeholder 
					color:#2d2d2d		
			textarea
				border: 0
				resize: none
				width: 100%
				height: 90px
				color: #212121
				font: normal 18px/22px Roboto
				-webkit-appearance: none
				border: 1px solid #b8b8b8
				padding: 10px 30px
				-moz-appearance: none				
				@media(max-width: 450px)
					font: normal 13px/16px Roboto
				&::-webkit-input-placeholder
					color:#2d2d2d
					font: normal 18px/22px Roboto
					@media(max-width: 450px)
						font: normal 13px/16px Roboto					
				&::-moz-placeholder
					color:#2d2d2d
					font: normal 18px/22px Roboto
					@media(max-width: 450px)
						font: normal 13px/16px Roboto						
				&:-moz-placeholder
					color:#2d2d2d
					font: normal 18px/22px Roboto
					@media(max-width: 450px)
						font: normal 13px/16px Roboto						
				&:-ms-input-placeholder 
					color:#2d2d2d	
					font: normal 18px/22px Roboto
					@media(max-width: 450px)
						font: normal 13px/16px Roboto	
		.rows
			position: relative
			text-align: center
			margin: 35px 0 0
			@media(max-width: 800px)
				margin: 15px 0 0
			button
				font: normal 19px/19px Roboto	
				border: 1px solid #9da4aa
				padding: 21px 85px
				cursor: pointer
				color: #000
				border-radius: 3px
				background: transparent
				transition: .35s
				@media(max-width: 450px)
					font: normal 18px/18px Roboto
					padding: 15px 35px
				&:hover
					color: #000
					border-color: #9da4aa
					box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.38)
					transition: .35s				
			button[disabled]
				cursor: default	
				border: 1px solid #b8b8b8
				background: transparent
				color: #b1b1b1
				&:hover
					cursor: default	
					border: 1px solid #b8b8b8
					background: transparent	
					color: #b1b1b1			
			p.pp_notis
				position: absolute
				top: 0
				left: 10px	
				font: normal 16px/20px Roboto
				color: #949494
				max-width: 165px
				text-align: left
				@media(max-width: 800px)
					position: static
					max-width: none
					margin: 0 0 20px 10px
				i 
					color: #000
					display: inline-block
					margin: 0px 0 0 -11px
					font-size: 15px
					position: relative
					top: -4px

					
.thank_you
	width: 910px
	min-height: 175px
	background: #fff
	@media(max-width: 980px)
		width: 750px
	@media(max-width: 800px)
		width: 600px
	@media(max-width: 650px)
		width: 500px
	@media(max-width: 550px)
		width: 400px
	@media(max-width: 450px)
		width: 300px
	@media(max-width: 350px)
		width: 275px
	.line_pp
		height: 125px
	.blc_pp_wt
		text-align: center
		padding: 51px 0 52px
		p
			font: normal 24px/30px Roboto
			color: #0b1c2b
			margin: 0 0 1px
		span 
			font: 300 20px/30px Roboto
			color: #0b1c2b


.fancybox-inner
	overflow: visible !important
	min-height: 100px

.parsley-errors-list
	position: absolute
	top: 2px
	left: 31px
	@media(max-width: 450px)  
		left: 14px
		top: 4px
	li 
		color: red
		font: normal 10px/10px Roboto 




picture
	display: block




