
<div id="footer" class="wq">
    <div class="container">
        <div class="rows_ft">
            <div class="logo_f">
                <a href="#"><img src="img/logo.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>