<div id="header">
	<div class="header">
		<div class="container">
			<div class="rows">
				<div class="cols cols01">
					<div class="logo">
						<span class="logo_l">
							<span class="a">
								<span class="mlogo">liqium</span>
								<span class="lt">
									<span class="t t01">Creative</span>
									<span class="t t02">digital</span>
									<span class="t t03">agency</span>
								</span>
							</span>
						</span>
					</div>
				</div>
				<div class="cols cols02">
					<div class="main_menu">
						<ul class="mm_list">
							<li><a href="company.html">Компания</a></li>
							<li><a href="services.html">Продукция</a></li>
							<li><a href="career.html">Карьера</a></li>
							<li><a href="news.html">Новости</a></li>
							<li><a href="contacts.html">Контакты</a></li>
							<li><a href="online.html">Онлайн</a></li>
						</ul>
					</div>
				</div>
				<div class="cols cols03">
					<div class="h_language">
						<span class="l">RU</span>
						<div class="h_language_in">
							<a href="http://liqium.com/">EN</a>
						</div>
					</div>
					<div class="ri">
						<div class="n_burger nb_phone">
							<a href="mailto:info@liqium.ru">info@liqium.ru</a>
						</div>		
						<div class="n_burger m_burger">
							<span class="lb lb01"></span>
							<span class="lb lb02"></span>
							<span class="lb lb03"></span>
						</div>		
						<span class="ya-phone"><a href="tel:84955454235"> 8 <span>495</span> 545 42 35</span></a>
					</div>				
				</div>
			</div>
		</div>
	</div> 
</div>