<div id="connect_with_us" class="hides win_popup">
    <div class="line_pp">
        <h3>Оставить заявку</h3>
        <p>Мы всегда рады ответить на любые Ваши вопросы</p>
    </div>
    <div class="blc_pp_wt">
        <form action="#" method="post" class="f1">
            <div class="rows rows100">
                <div class="cols">
                    <input type="text" name="NAME" required class="ptt" placeholder="Ваше имя*" data-parsley-length="[3, 20]" data-parsley-length-message="Значение должно содержать от 3 до 20 символов." data-parsley-pattern="^[а-яА-ЯёЁa-zA-Z ]+$" data-parsley-pattern-message="Значение должно содержать русские или английские символы.">
                </div>
            </div>
            <div class="rows rows50">
                <div class="cols cols01">
                    <input type="text" name="EMAIL" class="email" placeholder="E-mail*" required>
                </div>
                <div class="cols cols01">
                    <input type="text" name="PHONE" class="phone ptt" placeholder="Телефон*" required data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$" data-parsley-pattern-message="Значение не корректное.">
                </div>
            </div>
            <div class="rows rows100">
                <div class="cols">
                    <textarea name="TEXT" class="ptt" placeholder="Комментарий"></textarea>
                </div>
            </div>
            <div class="rows rows100">
                <div class="cols">
                    <p class="pp_notis"><i>*</i> Обязательные поля для заполнения</p>
                    <button class="get_go">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="thank_you" class="hides win_popup thank_you">
    <div class="line_pp">
        <h3>Спасибо!</h3>
    </div>
    <div class="blc_pp_wt">
        <p>Благодарим за обращение. Ваша заявка принята</p>
        <span>Наш специалист свяжется с Вами в течение рабочего дня</span>
    </div>
</div>