//= template/head-contacts.html
<body>
    <div class="scroller">
        <div id="wrap" class="wq">
            //= template/header.html
            <div id="wrapper">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <!--wrapper-->
            <div id="ff"></div>
        </div>
        <!-- <img
        sizes="(min-width: 40em) 80vw, 100vw"
        src="1.jpg"
        srcset="
          img/1-sm.jpg 760w,
          img/1-lg.jpg 1450w,
          img/1-lg.jpg 1920w
        "
        alt="…"
      /> -->
      <picture>
        <source srcset="img/1-sm.jpg" media="(max-width: 760px)">
        <source srcset="img/1-lg.jpg" media="(max-width: 1450px)">
        <img srcset="img/1.jpg" alt="">
    </picture>
    //= template/footer.html
    //= template/popup.html
    </div>
</body>
</html>